:root {
  --ff-primary: "Be Vietnam Pro", sans-serif;

  --color-primary-1: #242e52;
  --color-primary-2: #232c50;
  --color-purple: #8b48bf;
  --color-white: #fff;
  --color-black: #000;
  --color-active-link: rgba(36, 46, 82, 0.6);

  --fs-13: 0.8125rem;
  --fs-50: 3.125rem;

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --size-1-75: -0.109rem;
  --size-10: 0.625rem;
  --size-28: 1.75rem;
  --size-40: 2.5rem;
  --size-44: 2.75rem;
  --size-50: 3.125rem;
  --size-56: 3.5rem;
  --size-64: 4rem;
  --size-65: 4.063rem;
  --size-86: 5.375rem;
  --size-96: 6rem;
  --size-100: 6.25rem;
  --size-134: 8.375rem;
  --size-165: 10.313rem;
  --size-180: 11.25rem;
  --size-450: 28.125rem;
  --size-480: 30rem;
  --size-540: 33.75rem;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Create lists without styles */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  font-family: var(--ff-primary);
}

header {
  padding: var(--size-65) var(--size-165);
  display: flex;
  justify-content: space-between;
}

header nav {
  display: flex;
}

header nav ul {
  display: flex;
  gap: var(--size-28);
  align-items: center;
}

header nav a {
  color: var(--color-primary-1);
  font-size: var(--fs-13);
  font-weight: var(--fw-semi-bold);
  line-height: 176.1%;
}

header nav a:link,
header nav a:visited {
  text-decoration: none;
}

header nav a:active {
  color: var(--color-active-link);
}

.link-button {
  width: var(--size-134);
  height: var(--size-44);
  padding: var(--size-10);
  border-radius: var(--size-50);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-purple);
  font-size: var(--fs-13);
  font-weight: var(--fw-semi-bold);
  line-height: normal;
}

.link-button:link,
.link-button:visited {
  text-decoration: none;
}

.hamburguer-menu {
  display: none;
}

.banner {
  padding: var(--size-86) var(--size-180);
  display: grid;
  grid-template-columns: minmax(auto, var(--size-540)) minmax(
      auto,
      var(--size-450)
    );
  gap: var(--size-100);
  justify-content: center;
  place-items: center;
  grid-template-areas: "player presentation";
}

.banner img {
  grid-area: player;
  width: 100%;
}

.banner-text {
  grid-area: presentation;
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: center;
  gap: var(--size-28);
  align-items: flex-end;
}

.banner-text h1 {
  color: var(--color-primary-2);
  font-size: var(--size-50);
  font-weight: var(--fw-bold);
  line-height: 114.6%;
  letter-spacing: var(--size-1-75);
}

.banner-text p {
  font-weight: var(--fw-semi-bold);
  line-height: 157.1%;
}

@media (max-width: 30rem) {
  .hamburguer-menu {
    display: inline-block;
  }

  header {
    padding: var(--size-40) var(--size-56) 0;
  }

  header nav,
  header .link-button {
    display: none;
  }

  .banner {
    padding: var(--size-64) var(--size-40) var(--size-40);
    grid: repeat(2, 1fr) / 1fr;
    grid-template-areas:
      "player"
      "presentation";
    justify-content: center;
    place-items: center;
  }
}
